.modalBackground {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nut {
  
    /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    
}

.modalContainer  {
    display: flex;
    border: none;
    background-color: #18c6e1;
    border-radius:20px ;
}